<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>User Directory</title>
</head>

<body>

<div class="container">

	<h3>User Directory</h3>
	<hr>

	<!-- Add a button -->
	<a th:href="@{/users/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
		Add User
	</a>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>Username</th>
				<th>Password</th>
				<th>Enabled</th>
				<th>Roles</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempUserDto : ${userDtoList}">
			
				<td th:text="${tempUserDto.username}" />
				<td th:text="${tempUserDto.password}" />
				<td th:text="${tempUserDto.enabled}" />
				<td th:text="${tempUserDto.roles}" />
				<!--Add update button link-->
				<td>
					<a th:href="@{/users/showFormForUpdate(userId=${tempUserDto.username})}"
					class="btn btn-info btn-sm">
						Update
					</a>
					<!--Add delete button link-->
					<a th:href="@{/users/delete(userId=${tempUserDto.username})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
						Delete
					</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
</div>

<!-- Logout Button -->
<form th:action="@{/logout}" method="POST" class="form-horizontal">
	<div style="margin-top: 10px" class="form-group">
		<div class="col-sm-6 controls">
			<button type="submit" class="btn btn-success">Logout</button>
		</div>
	</div>
</form>
	
</body>
</html>



