<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Project Directory</title>
</head>

<body>

<div class="container">

	<h3>Project Directory</h3>
	<hr>

	<!-- Add a button -->
	<a th:href="@{/projects/showFormForAdd}" class="btn btn-primary btn-sm mb-3">
		Add Project
	</a>

	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th>Name of Project</th>
				<th>Date of analysis</th>
				<th>Discount rate</th>
				<th>Loan interest rate</th>
				<th>Initial investment</th>
				<th>Implementation period</th>
				<th>Profit per unit of the implementation period</th>
				<th>Conclusion</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempProjectDto : ${projectDtoList}">
			
				<td th:text="${tempProjectDto.name_of_project}" />
				<td th:text="${tempProjectDto.date_of_analysis}" />
				<td th:text="${tempProjectDto.discount_rate}" />
				<td th:text="${tempProjectDto.loan_interest_rate}" />
				<td th:text="${tempProjectDto.initial_investment}" />
				<td th:text="${tempProjectDto.implementation_period}" />
				<td th:text="${tempProjectDto.profit_per_unit_of_the_implementation_period}" />
				<td th:text="${tempProjectDto.conclusion}" />
				<!--Add update button link-->
				<td>
					<a th:href="@{/projects/showFormForUpdate(projectId=${tempProjectDto.id})}"
					class="btn btn-info btn-sm">
						Update
					</a>
				</td>
				<!--Add delete button link-->
				<td>
					<a th:href="@{/projects/delete(projectId=${tempProjectDto.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this project?'))) return false">
						Delete
					</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
</div>

<!-- Logout Button -->
<form th:action="@{/logout}" method="POST" class="form-horizontal">
	<div style="margin-top: 10px" class="form-group">
		<div class="col-sm-6 controls">
			<button type="submit" class="btn btn-success">Logout</button>
		</div>
	</div>
</form>
	
</body>
</html>



